html,
body {
  height: 100%;
  overflow-y: hidden;
  font-family: helvetica;
}

html #conteneur,
body #conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

html #conteneur .left-panel,
body #conteneur .left-panel {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background-color: white;
  z-index: 1;
}

html #conteneur .left-panel .flex-container,
body #conteneur .left-panel .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 5px 5px 15px;
}

html #conteneur .left-panel .flex-container .logo,
body #conteneur .left-panel .flex-container .logo {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  html #conteneur .left-panel .flex-container .logo,
  body #conteneur .left-panel .flex-container .logo {
    margin: 21px 0px 0px 0px;
  }
}

html #conteneur .left-panel .flex-container .navbar,
body #conteneur .left-panel .flex-container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  html #conteneur .left-panel .flex-container .navbar,
  body #conteneur .left-panel .flex-container .navbar {
    display: none;
  }
}

html #conteneur .left-panel .flex-container .navbar .menu-active,
body #conteneur .left-panel .flex-container .navbar .menu-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #00a0f7;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 3px solid #00a0f7;
  padding-bottom: 15px;
}

html #conteneur .left-panel .flex-container .navbar .menu-active #a-active,
body #conteneur .left-panel .flex-container .navbar .menu-active #a-active {
  color: #00a0f7;
  text-decoration: none;
}

html #conteneur .left-panel .flex-container .navbar .menu-item,
body #conteneur .left-panel .flex-container .navbar .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html #conteneur .left-panel .flex-container .navbar .menu-item #a,
body #conteneur .left-panel .flex-container .navbar .menu-item #a {
  text-decoration: none;
}

html #conteneur .left-panel .flex-container .navbar .menu-item #a:hover,
body #conteneur .left-panel .flex-container .navbar .menu-item #a:hover {
  color: #00a0f7;
}

html #conteneur .left-panel .flex-container .mobile-navbar,
body #conteneur .left-panel .flex-container .mobile-navbar {
  display: none;
  width: 30%;
  height: 20%;
  background-color: #CCFFF4;
  z-index: 3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  position: absolute;
  top: 0px;
  right: 35%;
}

html #conteneur .left-panel .flex-container .mobile-navbar .menu-active,
body #conteneur .left-panel .flex-container .mobile-navbar .menu-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #00a0f7;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 3px solid #00a0f7;
  padding-bottom: 10px;
}

html #conteneur .left-panel .flex-container .mobile-navbar .menu-active #a-active,
body #conteneur .left-panel .flex-container .mobile-navbar .menu-active #a-active {
  color: #00a0f7;
  text-decoration: none;
}

html #conteneur .left-panel .flex-container .mobile-navbar .menu-item,
body #conteneur .left-panel .flex-container .mobile-navbar .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #00a0f7;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
  padding-top: 5px;
}

html #conteneur .left-panel .flex-container .mobile-navbar .menu-item #a,
body #conteneur .left-panel .flex-container .mobile-navbar .menu-item #a {
  text-decoration: none;
}

html #conteneur .left-panel .flex-container .mobile-navbar .menu-item #a:hover,
body #conteneur .left-panel .flex-container .mobile-navbar .menu-item #a:hover {
  color: #00a0f7;
}

html #conteneur .left-panel .flex-container #myTopnav,
body #conteneur .left-panel .flex-container #myTopnav {
  display: none;
}

@media screen and (max-width: 768px) {
  html #conteneur .left-panel .flex-container #myTopnav,
  body #conteneur .left-panel .flex-container #myTopnav {
    display: block;
    font-size: 30px;
    margin: 20px 15px 0px 0px;
    color: #8392a8;
    z-index: 5;
    cursor: pointer;
  }
}

html #conteneur .left-panel .text-title,
body #conteneur .left-panel .text-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin: 25% 50% 10% 10%;
}

@media screen and (max-width: 768px) {
  html #conteneur .left-panel .text-title,
  body #conteneur .left-panel .text-title {
    text-align: center;
    width: 100%;
    margin: 25% 0% 10% 0%;
  }
}

html #conteneur .left-panel .text-title .titre,
body #conteneur .left-panel .text-title .titre {
  font-weight: bold;
  font-size: 42px;
  margin: 0% 0% 2% 0%;
}

html #conteneur .left-panel .text-title .paragraphe,
body #conteneur .left-panel .text-title .paragraphe {
  font-size: 13px;
}

html #conteneur .left-panel .form,
body #conteneur .left-panel .form {
  margin-left: 10%;
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 60px 5px #DADADA;
          box-shadow: 0px 0px 60px 5px #DADADA;
  color: #A4A4A4;
  font-size: 16px;
  background-color: white;
}

@media screen and (max-width: 768px) {
  html #conteneur .left-panel .form,
  body #conteneur .left-panel .form {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

html #conteneur .left-panel .form .container-form,
body #conteneur .left-panel .form .container-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 35px;
  width: 110%;
}

@media screen and (max-width: 768px) {
  html #conteneur .left-panel .form .container-form,
  body #conteneur .left-panel .form .container-form {
    height: 57px;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

html #conteneur .left-panel .form .container-form .fa-sign-in-alt,
body #conteneur .left-panel .form .container-form .fa-sign-in-alt {
  padding-left: 3%;
  z-index: 2;
  font-size: 24px;
  color: #c7ced8;
}

@media screen and (max-width: 768px) {
  html #conteneur .left-panel .form .container-form .fa-sign-in-alt,
  body #conteneur .left-panel .form .container-form .fa-sign-in-alt {
    width: 7%;
  }
}

html #conteneur .left-panel .form .container-form .input,
body #conteneur .left-panel .form .container-form .input {
  width: 110%;
  z-index: 1;
  border: none;
  padding: 20px 20px 20px 30px;
}

html #conteneur .left-panel .form .container-form .input::-webkit-input-placeholder,
body #conteneur .left-panel .form .container-form .input::-webkit-input-placeholder {
  color: #c7ced8;
}

html #conteneur .left-panel .form .container-form .input:-ms-input-placeholder,
body #conteneur .left-panel .form .container-form .input:-ms-input-placeholder {
  color: #c7ced8;
}

html #conteneur .left-panel .form .container-form .input::-ms-input-placeholder,
body #conteneur .left-panel .form .container-form .input::-ms-input-placeholder {
  color: #c7ced8;
}

html #conteneur .left-panel .form .container-form .input::placeholder,
body #conteneur .left-panel .form .container-form .input::placeholder {
  color: #c7ced8;
}

@media screen and (max-width: 768px) {
  html #conteneur .left-panel .form .container-form .input,
  body #conteneur .left-panel .form .container-form .input {
    width: 70%;
    border-radius: 35px;
  }
}

html #conteneur .left-panel .form .container-form button,
body #conteneur .left-panel .form .container-form button {
  z-index: 2;
  border-radius: 29px;
  border: none;
  background-color: #2fefd2;
  padding: 15px 70px 15px 70px;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  html #conteneur .left-panel .form .container-form button,
  body #conteneur .left-panel .form .container-form button {
    margin: 40px;
  }
}

html #conteneur .left-panel .form .container-form button #a_button,
body #conteneur .left-panel .form .container-form button #a_button {
  text-decoration: none;
  color: white;
}

html #conteneur .left-panel .mdp,
body #conteneur .left-panel .mdp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 10% 0% 0% 0%;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  html #conteneur .left-panel .mdp,
  body #conteneur .left-panel .mdp {
    margin-top: 150px;
  }
}

html #conteneur .left-panel .mdp #mdp,
body #conteneur .left-panel .mdp #mdp {
  text-decoration: none;
  color: #c7ced8;
}

html #conteneur .right-panel,
body #conteneur .right-panel {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background-image: url("../img/lapinator.jpg");
  background-size: cover;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (max-width: 768px) {
  .left-panel {
    background-image: url("../img/Group.svg");
    background-size: cover;
    background-position: center;
  }
  .right-panel {
    display: none;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
